body{
    font-family: cursive;
    background-color: #fff7ed;
}
.first{
    text-align: center;
    color: #92400e;
}
header h1{
    background-color: #fde68a;
}
.menu a{
    background-color: #fed7aa;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #92400e
}
footer{
    background-color: #92400e;
    text-align: center;
    color: white;
}
span{
    background-color: white;
    color: black;
}
div{
    background-color: white;
    color: black;
}
dl{
    background-color: white;
    color: black;
}
.mid{
    text-decoration: none;

}
.menu{
    background-color: #fed7aa;
}
.menu a:hover{
    background-color: #92400e;
    color: white;
}
.list :hover{
    background-color:#92400e ;
    color: yellow;
}
.list{
    color: black;
}
